:root{
    box-sizing: border-box;
    font-size: calc(1vw+0.6em);
}

@media (min-width:50em) {
    :root{
        font: 1.125em;
    }   
}

*,
*::before,
*::after  {
    box-sizing: inherit;
}

body    {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

/*header*/
.page-header    {
    padding:0.4em 1em;
    background-color: #fff;
}

@media (min-width:35em) {
    .page-header    {
        padding: 1em 1em;
    }
}

@media (min-width:50em) {
    .page-header    {
        padding: 1em 1em;
    }
}

.title>h1   {
    color: #000;
    text-transform: uppercase;
    font-size:1.5em;
}

 @media (min-width:35em) {
    .title>h1   {
        font-size: 2.25rem;
    }
}

/**/

.home-hero{
    padding: auto;
    width: 100;

}